<!--Banner-->
<app-banner></app-banner>

<!--Main content-->
<div class="homepage-container">
    <div class="profile-image">
        <img class="image-profile" src="assets/images/pfp.png">
    </div>
    <div class="content-container">
        <!--Header text-->
        <div class="header content">
            <h1>zepphy</h1>
            <p>Game developer, Software developer, and Hobbyist artist!</p>
        </div>

        <!--Highlights-->
        <app-latest-activity class="content"></app-latest-activity>
        
        <!--Dev stuff-->
        <app-devstuff class="content"></app-devstuff>

        <!--Art stuff-->
        <app-artstuff class="content"></app-artstuff>

    </div>
    <!--Footer-->
    <app-footer class="footer-container"></app-footer>
</div>

