<div class="accordion" id="artstuff-accordion">
  <div class="accordion-item" id="artstuff-item">
    <h2 class="accordion-header" id="artstuffItemHeader">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#artstuff-collapse" aria-expanded="false" aria-controls="artstuff-collapse">
        <div class="artstuff-header-content">
          <div class = "artstuff-content-text">
            <h2>Art Stuff</h2>
            <p>The place for all of my illustrative works! Essentially all of them was made in my free time</p>
          </div>
          <div class="artstuff-content-image">
            <fa-icon [icon]="['fas', 'palette']"></fa-icon>
          </div>
        </div>
      </button>
    </h2>
    <!--First Item-->
    <div id="artstuff-collapse" class="accordion-collapse collapse" aria-labelledby="artstuffItemHeader" data-bs-parent="#artstuff-accordion">
      <div class="accordion-body" id="artstuff-content">
        <div class="artstuff-content-text">
          <h3>Kofi</h3>
          <p>Website where you can support my work! Includes a place where you can commission me and purchase any of my paid works</p>
          <a href="https://ko-fi.com/zepphy">
            <button class="artstuff-button">See Kofi Page</button>
          </a>
        </div>
        <div class="artstuff-content-image">
          <img src="assets/images/ko-fi-icon.svg">
        </div>
      </div>
      <!--Second Item-->
      <div class="accordion-body" id="artstuff-content">
        <div class="artstuff-content-text">
          <h3>Twitter</h3>
          <p>Twitter is (unfortunately) my main social media! If you want to see my general whereabouts online, you can find me here!</p>
          <a href="https://twitter.com/zeppipi">
            <button class="artstuff-button">See Twitter Account</button>
          </a>
        </div>
        <div class="artstuff-content-image">
          <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
        </div>
      </div>
      <!--Third Item-->
      <div class="accordion-body" id="artstuff-content">
        <div class="artstuff-content-text">
          <h3>YouTube</h3>
          <p>For all of my works that happens to be in mp4 form</p>
          <a href="https://www.youtube.com/channel/UCy8tAV3V_Dl-d5Gz7uTX7XQ">
            <button class="artstuff-button">See YouTube Page</button>
          </a>
        </div>
        <div class="artstuff-content-image">
          <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
        </div>
      </div>
      <!--Fourth Item-->
      <div class="accordion-body" id="artstuff-content">
        <div class="artstuff-content-text">
          <h3>Artfol</h3>
          <p>The place where I only put my art. Most of my artwork will probably be uploaded here first</p>
          <a href="https://www.artfol.co/zepphy">
            <button class="artstuff-button">See Artfol Account</button>
          </a>
        </div>
        <div class="artstuff-content-image">
          <img src="assets/images/artfol-icon.png">
        </div>
      </div>
    </div>
  </div>
</div>
